:root{
	--color-danger: #da6262;
	--color-warn: #9d9d35;
	--color-success: #40b740;

	--body-bg-color: #111111;
	--body-text-color: #ffffff;

	--table-header-bg-color: #4d2179;
	--table-row-bg-color: #353535;
	--table-row-hover-bg-color: #4e2f6a;
	--table-row-hover-brightness: 1.1;
	--table-border:none;
	--table-border-radius:0;

	/* button properties*/
	--button-hover-brightness: 0.7;
	--button-bg-color: #3b3434;
	--button-text-color: none;

	/* text input properties */
	--input-bg-color: transparent;
	--button-text-color: #000000;

	/*check box*/
	--checkbox-bg-color: #00000099;
	--checkbox-checked-bg-color: #dddddd99;
	--checkbox-disabled-color: #aaaaaa;
	--checkbox-color: #4e4e4e;
	--checkbox-checked-color: #22222299;

	--bg-color: var(--body-bg-color);
	--text-color: var(--body-text-color);


	/*some styles*/
	scrollbar-width: none;
}

body {
	margin:0;
	padding:0;
	background: var(--body-bg-color);
	color: var(--body-text-color);
	overflow: overlay;
}

/*Table styles*/

table{
	min-width: 100px;
	min-height: 100px;
}

.table{
	overflow: hidden;
}

.table tr{
	display: flex;
	align-items: center;
	margin:0;
	padding:0;
	background-color: var(--table-row-bg-color);
}

.table tr td,.table tr th{
	padding:0.5rem;
	display: inline-flex;
	overflow: elipses;
	scrollbar-width: none;
	width: 100%;
	justify-content: center;
	word-wrap:unset;
}

.table tr.action-column td:last-child,.table tr.action-column th:last-child{
	justify-content: right;
	padding-left:none;
}

.table tr.start-align th{
	justify-content: left;
	padding-left:20px;
}

.table tr:nth-child(odd) {
	filter: brightness(0.85);
}

.table tr:hover{
	position: relative;
	background-color: var(--table-row-hover-bg-color);
	filter: brightness(var(--table-row-hover-brightness));
}

.table tr th{
	background-color:var(--table-header-bg-color);
}
.table tr th:hover{
	filter: brightness(1.1);
}

.table tr.danger td,.table tr.danger th{
	background-color: var(--color-danger);
	color:#000000aa;
}

.table tr.warn td,.table tr.warn th{
	background-color: var(--color-warn);
	color:#000000aa;
}

.table tr.success td,.table tr.success th{
	background-color: var(--color-success);
	color:#000000aa;
}

/*buttons styles*/

button {
	display: block;
	display: block;
	min-width: 30px;
	min-height: 10px;
	padding: 0.2rem 0.5rem;
	background-color: var(--button-bg-color);
	border-color: var(--button-border-color);
	border: var(--button-border);
	border-bottom: 0.5rem solid #00000099;
	border-radius: 0.2rem;
	color: var(--button-text-color);
	font-weight: bold;
}

button:hover {
	filter: brightness(var(--button-hover-brightness));
	transform: translateY(0.05rem);
}

button:focus{
	transform: translateY(0.1rem);
}

.btn-danger {
	background-color: var(--color-danger);
	color: #000000aa;
}

.btn-warn {
	background-color: var(--color-warn);
	color: #000000aa;
}

.btn-success {
	background-color: var(--color-success);
	color: #000000aa;
}

/*checkboxes styles*/
input[type="checkbox"]{
	appearance: none;
	margin:-0.6rem 0.4rem;
	padding:0;
	display:block;
	place-content: center;
	background: transparent;
}

input[type="checkbox"]::before{
	display: block;
	content: "";
	width: 2rem;
	height: 1rem;
	transform: translateY(0.5rem);
	box-shadow: inset 4rem 4rem var(--checkbox-bg-color);
	border:2px solid #00000099;
	border-radius:10px;
}

input[type="checkbox"]:checked:before{
	box-shadow: inset 2rem 2rem var(--checkbox-checked-bg-color);
}

input[type="checkbox"]:disabled:before{
	display: block;
	content: "";
	width: 2rem;
	height: 1rem;
	transform: translateY(0.65rem);
	box-shadow: inset 2rem 2rem var(--checkbox-disabled-color);
	border:0.1rem solid #55555599;
	border-radius:0.5rem;
}

input[type="checkbox"]::after{
	display: block;
	content: "";
	width: 1rem;
	height: 1rem;
	transform: translateY(-0.65rem);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1rem 1rem var(--checkbox-color);
	border:2px solid #00000099;
	border-radius:0.5rem;
	filter: brightness(0.7)
}

input[type="checkbox"]:checked:after{
	transform: translateY(-0.65rem) translateX(1rem);
	box-shadow: inset 1rem 1rem var(--checkbox-checked-color);
}

.chk-danger {
	--checkbox-color: var(--color-danger);
	--checkbox-checked-bg-color: var(--color-danger);
}

.chk-warn {
	--checkbox-color: var(--color-warn);
	--checkbox-checked-bg-color: var(--color-warn);
}

.chk-success {
	--checkbox-color: var(--color-success);
	--checkbox-checked-bg-color: var(--color-success);
}

/*text input*/
input[type="text"]{
	display: block;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem;
	border: none;
}

input[type="text"]:focus{
    outline : none;
	/*text-indent: auto;*/
}

/* numeric input */
input[type="number"]::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type="number"] {
    -moz-appearance:textfield !important;
}

/* cursor */
.cursor-alias {cursor: alias;}
.cursor-all-scroll {cursor: all-scroll;}
.cursor-auto {cursor: auto;}
.cursor-cell {cursor: cell;}
.cursor-context-menu {cursor: context-menu;}
.cursor-col-resize {cursor: col-resize;}
.cursor-copy {cursor: copy;}
.cursor-crosshair {cursor: crosshair;}
.cursor-default {cursor: default;}
.cursor-e-resize {cursor: e-resize;}
.cursor-ew-resize {cursor: ew-resize;}
.cursor-grab {cursor: grab;}
.cursor-grabbing {cursor: grabbing;}
.cursor-help {cursor: help;}
.cursor-move {cursor: move;}
.cursor-n-resize {cursor: n-resize;}
.cursor-ne-resize {cursor: ne-resize;}
.cursor-nesw-resize {cursor: nesw-resize;}
.cursor-ns-resize {cursor: ns-resize;}
.cursor-nw-resize {cursor: nw-resize;}
.cursor-nwse-resize {cursor: nwse-resize;}
.cursor-no-drop {cursor: no-drop;}
.cursor-none {cursor: none;}
.cursor-not-allowed {cursor: not-allowed;}
.cursor-pointer {cursor: pointer;}
.cursor-progress {cursor: progress;}
.cursor-row-resize {cursor: row-resize;}
.cursor-s-resize {cursor: s-resize;}
.cursor-se-resize {cursor: se-resize;}
.cursor-sw-resize {cursor: sw-resize;}
.cursor-text {cursor: text;}
.cursor-url {cursor: url(myBall.cur),auto;}
.cursor-w-resize {cursor: w-resize;}
.cursor-wait {cursor: wait;}
.cursor-zoom-in {cursor: zoom-in;}
.cursor-zoom-out {cursor: zoom-out;}


/* display styles */
.full{
	display:block;
	width:100%;
}

div.customizer{
	display:block;
	position: absolute;
	top: 0; left:100%; z-index:999;
	background-color: #333333;
	padding: 10px;
	border:10px solid #000000aa;
	user-select: none;
	overflow: hidden;
}

div.customizer > p,
div.customizer > h1,
div.customizer > h2,
div.customizer > h3,
div.customizer > h4,
div.customizer > h5 {
	margin: 5px 10px;
	text-align: center;
}

div.customizer[closed="true"]{
	padding:1px;
	opacity: 0.3;
}

div.customizer[closed="true"] .customizer-options{
	display: none;
	width: auto;
}

div.customizer .customizer-options{
	background-color: #aaaaaa44;
	padding: 5px;
	display: block;
	white-space: nowrap;
	resize: both;
  	overflow: auto;
	min-width: fit-content;
	min-height: 3rem;
}

div.customizer .customizer-option{
	display: block;
	width:100%;
	margin: 10px auto;
}

.teste {
	content: "Somente um teste";
	display: block;
	width: 100%;
	height: 30px;
	background-color: var(--bg-color);
	color: var(--text-color);
}


/*color picker*/
.color-picker{
	display: inline-flex;
	position: absolute;
	margin:10px;
	width:fit-content;
	z-index: 999;
}
.color-picker .color-cursor {
	border-radius: 100%; aspect-ratio: 1/1;
	position: relative;
	pointer-events: none; z-index: 999;
	border: 1px solid #ddd;
	box-shadow: 0 4px 12px rgba(0, 0, 0, .4);
	transition: all 0.2s ease;

	width: 30px; height: 30px;
	margin-left:-15px;
	margin-top: -15px;
	top: 0; left: 0;
}
.color-picker .hue-map .color-cursor {
	top: 0; left: 0; width: 10px;
	margin-top: -10px; margin-left: -10px;
	pointer-events: none;
}
.color-picker .color-cursor.dragging { transition: none; }
.color-picker .hue-map {
	position: relative;
	top: 0px; bottom: 5px;
	left:5px; width: 10px;
	background-color: transparent;
}
.color-picker canvas {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: transparent;
}
.color-picker .hue-map.static-hue{
	background-image: linear-gradient(to bottom,#f00 0%,#f0f 17%,#00f 33%,#0ff 50%,#0f0 67%,#ff0 83%,#f00 100%);
}
.color-picker .spectrum-map {
	position: relative;
	width: 300px; aspect-ratio: 1/1;
	overflow: hidden;
	top:0;left:0;
	background-color: transparent;
}

.color-picker-panel {
	background: var(--bg-color);
	width: fit-content;
	border: var(--border);
	box-shadow: 0 4px 12px rgba(0, 0, 0, .4);
	position: absolute;
	top:50%;left:50%;
	transform: translate(-50%,-50%);
	z-index: 9999;
  }
  .panel-row {
	display: inline-flex;
	position: relative;
	margin: 0 10px 10px;
	width:fit-content;
	border: 1px solid red;
  }
  .panel-row:first-child { margin-top: 10px; margin-bottom: 6px; }
  .panel-row:after {
	content: '';
	display: table;
	clear: both;
	border:1px solid green;
  }
  .panel-header {
	border: 2ps solid green;
	background: transparent;
	padding: 8px;
	margin: 0 -10px 10px;
	text-align: center;
  }
  .swatch {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: #ccc;
	border-radius: 4px;
	margin-left: 4px;
	margin-bottom: 4px;
	box-sizing: border-box;
	border: 2px solid #364347;
	cursor: pointer;
  }
  .default-swatches {
	width: 212px;
  }
  .default-swatches .swatch:nth-child(6n + 1) {
	margin-left: 0;
  }
  
  .button {
	background: #2a3137;
	border: 0;
	border-radius: 4px;
	color: #8b949a;
	font-size: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	outline: none;
	cursor: pointer;
	padding: 4px;
  }
  button:active {
	background: #262c31;
  }
  .button.eyedropper {
	position: absolute;
	right: 0;
	top: 0;
	width: 68px;
	height: 68px;
	display: block;
  }
  .button.add-swatch {
	display: block;
	padding: 6px;
	width: 200px;
	margin: 10px auto 0;
  }
  .button.mode-toggle {
	position: absolute;
	top: 0;
	right: 0;
	width: 68px;
	height: 40px;
  }
  .value-fields {
	display: none;
	align-items: center;
  }
  .value-fields.active {
	display: flex;
  }
  .value-fields .field-label {
	margin-right: 6px;
  }
  .value-fields .field-input {
	background: #15191c;
	border: 1px solid #364347;
	box-sizing: border-box;
	border-radius: 2px;
	line-height: 38px;
	padding: 0 4px;
	text-align: center;
	color: #8b949a;
	font-size: 1rem;
	display: block;
  }
  .rgb-fields .field-group {
	display: flex;
	align-items: center;
  }
  .rgb-fields .field-input {
	width: 42px;
	margin-right: 10px;
  }
  .hex-field .field-input {
	width: 170px;
  }
  .color-indicator {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background: #ccc;
  }
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }